*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea
!.idea/dictionaries/project.xml
!/.idea/runConfigurations
!.idea/icon.png
!.idea/icon_dark.png

build/
